<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appgarage.dash"
    android:versionCode="4"
    android:versionName="1.3">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
    <uses-permission android:name="com.ygomi.permission.IVI_CAN_READ" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="AppGarage Dash" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        <meta-data android:name="ivi.isDistractive"  android:value="false" />
        <meta-data android:name="ivi.shortcut"       android:value="true" />
        <meta-data android:name="ivi.audio"          android:value="false" />
        <meta-data android:name="ivi.autorun"        android:value="false" />
        <meta-data android:name="ivi.Disclaimer"     android:value="false" />
        <meta-data android:name="ivi.supportDisplay" android:value="ALL" />
        <meta-data android:name="ivi.defaultDisplay" android:value="LOWER" />
        <activity android:name=".MainActivity" android:label="AppGarage Dash"
                  android:icon="@drawable/ic_launcher"
                  android:screenOrientation="landscape"
                  android:keepScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
